body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.lessons-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the list take the full height of the viewport */
}

.lessons-el {
    margin: 10px;
}

.btn-lesson {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-lesson:hover {
    background-color: #2980b9;
}
